@(productsForm: Form[SimCard])

@main("SimCard form") {
  <h1>SimCard form</h1>
  @helper.form(action = routes.SimCards.save()) {
    <fieldset>
      <legend>SimCard (@productsForm("imsi").valueOr("new"))</legend>
      @helper.inputText(productsForm("imsi"), '_label -> "IMSI")
      @helper.inputText(productsForm("msisdn"),'_label -> "MSISDN")
      @helper.inputText(productsForm("owner"), '_label -> "Owner")
    </fieldset>
    <input type="submit" class="btn btn-primary" value="Save">
    <a class="btn" href="@routes.SimCards.list()">Cancel</a>
  }
}