@(productsForm: Form[SimCard])

@main("SimCard form") {
  <h1>SimCard form</h1>
  @helper.form(action = routes.SimCards.save()) {
    <fieldset>
      <legend>SimCard (@productsForm("ean").valueOr("new")</legend>
      @helper.inputText(productsForm("ean"), '_label -> "EAN")
      @helper.inputText(productsForm("name"),'_label -> "Name")
      @helper.textarea(productsForm("description"), '_label -> "Description")
    </fieldset>
    <input type="submit" class="btn btn-primary" value="Save">
    <a class="btn" href="@routes.SimCards.list()">Cancel</a>
  }
}