@(simCards: List[SimCard])

@main("SimCard Listing") {
  <h2>All SimCards</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>EAN</th>
        <th>Name</th>
        <th>Owner</th>
      </tr>
    </thead>
    <tbody>
    @for(simCard <- simCards) {
      <tr>
        <td><a href="@routes.SimCards.details(simCard.ean)">@simCard.ean</a></td>
        <td><a href="@routes.SimCards.details(simCard.ean)">@simCard.name</a></td>
        <td><a href="@routes.SimCards.details(simCard.ean)">@simCard.description</a></td>
      </tr>
    }
    </tbody>
  </table>
}